<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap uap3">
  <Identity Name="HandheldAlly.HHAPulseWidget" Publisher="CN=Handheld Ally" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HHA Pulse Widget</DisplayName>
    <PublisherDisplayName>Handheld Ally</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HHAPulse.Widget.App">
      <uap:VisualElements DisplayName="HHA Pulse Widget" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="HHA Pulse Xbox Game Bar companion" BackgroundColor="transparent" />
      <Extensions>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="microsoft.gameBarUIExtension" Id="HHAPulseWidget" PublicFolder="Public" DisplayName="HHA Pulse Widget" Description="Handheld performance companion widget">
            <uap3:Properties>
              <GameBarWidget Type="Standard">
                <HomeMenuVisible>true</HomeMenuVisible>
                <PinningSupported>true</PinningSupported>
                <Window>
                  <Size>
                    <Height>200</Height>
                    <Width>464</Width>
                  </Size>
                  <ResizeSupported>
                    <Horizontal>false</Horizontal>
                    <Vertical>false</Vertical>
                  </ResizeSupported>
                </Window>
              </GameBarWidget>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.proxyStub">
      <ProxyStub ClassId="00000355-0000-0000-C000-000000000046">
        <Path>Microsoft.Gaming.XboxGameBar.dll</Path>
        <Interface Name="IXboxGameBarWidgetPrivate" InterfaceId="22ABA97F-FB0F-4439-9BDD-2C67B2D5AA8F" />
        <Interface Name="IXboxGameBarWidgetPrivate2" InterfaceId="B6FC4B5F-3CBC-4BBA-9B68-16E2A54E850C" />
        <Interface Name="IXboxGameBarWidgetControlPrivate" InterfaceId="C309CAC7-8435-4082-8F37-784523747047" />
        <Interface Name="IXboxGameBarWidgetForegroundWorkerPrivate" InterfaceId="DDB52B57-FA83-420C-AFDE-6FA556E18B83" />
        <Interface Name="IXboxGameBarWidgetForegroundWorkerPrivate2" InterfaceId="EDCFC474-E1E3-4CDF-A6C1-27C17F863132" />
        <Interface Name="IXboxGameBarNavigationKeyCombo" InterfaceId="5E3A55DE-B7F2-47B5-9C29-ADAFF7D818A1" />
        <Interface Name="IXboxGameBarWidgetActivatedEventArgsPrivate" InterfaceId="782535AB-4C06-4Dae-954F-3A49E8A2CF94" />
        <Interface Name="IXboxGameBarWidgetPrivate3" InterfaceId="4FF31C5A-607E-4FDE-849F-E75F10FE8345" />
        <Interface Name="IXboxGameBarWidgetPrivate4" InterfaceId="48CB5083-5864-413B-B29E-18A4AF8850DB" />
        <Interface Name="IXboxGameBarWidgetPrivate5" InterfaceId="5638E05D-14B3-4D8E-AF36-4B0F04EFBFEE" />
        <Interface Name="IXboxGameBarWidgetPrivate6" InterfaceId="F0E4E1A8-0660-4F2F-8B08-CEFF0E1395AB" />
        <Interface Name="IXboxGameBarClickThroughPrivate" InterfaceId="F148A901-0DB1-4B2F-B657-5761D2AAC5D7" />
        <Interface Name="IXboxGameBarHotkeyManagerPrivate" InterfaceId="B9B0ACF9-9585-4E6F-8EDC-35F3BFF54BE6" />
      </ProxyStub>
    </Extension>
  </Extensions>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
