<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap uap3">
  <Identity Name="HandheldAlly.HHAPulseWidget" Publisher="CN=Handheld Ally" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HHA Pulse Widget</DisplayName>
    <PublisherDisplayName>Handheld Ally</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HHAPulse.Widget.App">
      <uap:VisualElements DisplayName="HHA Pulse Widget" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="HHA Pulse Xbox Game Bar companion" BackgroundColor="transparent" />
      <Extensions>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="microsoft.gameBarUIExtension" Id="HHAPulseWidget" PublicFolder="Public" DisplayName="HHA Pulse Widget" Description="Handheld performance companion widget" />
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
